/* Global CSS */
body {
  background-color: rgb(57, 57, 57);
  color: rgba(255, 255, 255, 0.8);
  font-family: 'Noto Sans', sans-serif;
}

.container {
  margin: auto;
  width: 80%;
}

.row {
  width: 100%;
  display: block;
  margin-bottom: 25px;
}

.text-center {
  text-align: center;
}

.img-center {
  text-align: center;
  display: block;
}

.text-block {
  font-family: 'Arvo', serif;
  margin: 5px;
}

a:link, a:visited {
  color: rgb(210, 145, 34);
  text-decoration: none;
}

a:hover {
  color: rgb(250, 203, 124);
}

/* Header */
.name h1 {
  color: rgb(56, 171, 74);
  margin-bottom: 0;
}

.name h3 {
  margin-top: 0;
}

/* Projects */
.project-name h2 {
  color: rgb(56, 171, 74);
  display: inline-block;
}

.support {
  width: 600px;
  margin: auto;
}

/* Footer */
footer {
  text-align: center;
  font-size: 10px;
  color: rgba(255, 255, 255, 0.5);
}
